*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container{
  width: 1100px;
  margin: 0 auto;
  background-color: aquamarine;
  position: relative;
}


.banner{
  background-color: #FFFFFF;
}


.header_lft{
  position: fixed;
  left: 30px;
  top: 0;
width: 280px;
display: flex;
flex-direction: column;
align-items: center;
gap: 80px;
background-color: #FFFFFF;
box-shadow: 3px 2px 4px silver;
padding: 0 0 0;
z-index: 50;
}

.banner_right img{
  width: 100%;
  height: 100%;
}

.sid_top{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.block_grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 260px;
  gap: 8px;
  padding: 112px 0 135px;
  background-color: #FFFFFF;
}

.lm{
  background-color: blueviolet;
  background-image: url(/img/cookie.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0 0 7px;
}

.lm2{
  background-color: blueviolet;
  background-image: url(/img/cookie2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0 0 7px;
}

.lm3{
  background-color: blueviolet;
  background-image: url(/img/cookie3.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0 0 7px;
}

.lm4{
  background-color: blueviolet;
  background-image: url(/img/cookie4.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0 0 7px;
}

.lm5{
  background-color: blueviolet;
  background-image: url(/img/cookie5.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0 0 7px;
}

.lm6{
  background-color: blueviolet;
  background-image: url(/img/cookie6.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0 0 7px;
}


.lm7{
  background-color: blueviolet;
  background-image: url(/img/cookie7.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0 0 7px;
}



.logo{
  width: 172px;
  height: 170px;
  /* margin-bottom: 53px; */
}


.logo img{
  width: 100%;
  height: 100%;
}


.ul1{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.lnk{
  text-decoration: none;
font-weight: 500;
font-size: 16px;
text-transform: uppercase;
color: #E94200;
}

.cart_lgo{
margin-top: 52px;
}


.sid_bottom{
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.app_block{
  display: flex;
  gap: 16px;
}

.emal_bl{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.txt1{
font-weight: 400;
font-size: 16px;
color: #423F3E;
text-align: center;
}


.menu{
  position: absolute;
  right: 10px;
  top: 39px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
  z-index: 50;
}


.menu img{
  width: 100%;
  height: 100%;
}


.btn{
  width: 166px;
height: 32px;
border: none;
background-color: #E94200;
border-radius: 64px;
}

.lnk2{
text-decoration: none;
font-weight: 500;
font-size: 13px;
color: #FFFFFF;
}


.btn2{
  border: none;
  width: 166px;
height: 32px;
border-radius: 64px;
backdrop-filter: blur(10px);
background: #FFFFFFCC;
}

.lnk3{
  text-decoration: none;
font-weight: 500;
font-size: 13px;
color: #E94200;
}

.header_list{
  display: none;
}

.hlnk{
  text-decoration: none;
font-weight:bolder;
font-size: 17px;
text-transform: uppercase;
color: #d53f03;
}

.close{
  color: red;
}


.ingredients_block{
  background-color: #FFFFFF;
}

.txt2{
font-weight: 400;
font-size: 38px;
text-align: center;
color: #423F3E;
padding: 135px 0 105px;
}

.ingredients_grid{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: 400px;
  gap: 28px;
}

.lmg{
  border: rgb(126, 126, 126);
  display: flex;
}

.lmg_left{
  background-color: #A7BB61;
  /* width: 550px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 40px;
}

.lft2s{
  background-color: #FDF4DE;
}

.txt3s{
  color: #423F3E;
font-weight: 400;
font-size: 22px;
text-align: center;
}

.txt3{
  font-family: Yeseva One;
font-weight: 400;
font-size: 22px;
color: #FFFFFF;
text-align: center;
}

.txt4{
font-weight: 600;
font-size: 18px;
text-align: center;
color: #FFFFFF;
}


.txt4s{
font-weight: 600;
font-size: 18px;
text-align: center;
color: #423F3E;
}



.lmg_right img{
width: 100%;
height: 100%;
object-fit: cover;
}

/* .ry{
  background-color: #FDF4DE;
  padding: 30px;
} */

.company_block{
  background-color: #FFFFFF;
  padding: 156px 0 20px;
}

.txt5{
font-weight: 400;
font-size: 38px;
text-align: center;
color: #423F3E;
padding: 0 0 70px;
}


.company_grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 150px;
  gap: 28px;
}

.cmp{
  display: flex;
  justify-content: center;
  align-items: center;
}

.c_logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form_block{
  padding: 20px 0 20px;
  background-color: #F8F8F8;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.txt6{
font-weight: 400;
font-size: 38px;
text-align: center;
padding: 0 0 14px;
color: #E94200;
}

.txt7{
font-weight: 400;
font-size: 14px;
text-align: center;
color: #423F3E;
padding: 0 0 43px;
}

.inputs{
  display: flex;
  gap: 27px;
}

.inputs_t{
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.np1{
  outline: none;
  width: 349px;
height: 45px;
opacity: 1;
border-radius: 6px;
border: 1px solid #DCDCDC;
padding-left: 16px;
}

.btn3{
  border: none;
  width: 254px;
height: 68px;
border-radius: 100px;
background-color: #E94200;
cursor: pointer;


font-weight: 600;
font-size: 18px;
text-align: center;
color: #FFFFFF;
margin-top: 72px;
}

.form_cntr{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_block{
  background-color: #FFFFFF;
  padding: 20px 0 20px;
}

.about_top{
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 24px;
}

.txt8{
font-weight: 400;
font-size: 38px;
text-align: center;
color: #423F3E;
}

.about_app{
  display: flex;
  gap: 39px;
}

.txt9{
font-weight: 500;
font-size: 28px;
color: #E94200;
}

.about_grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 285px;
  gap: 9px;
}

.about_itm{
  background-color: #423F3E;
}

.about_itm img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


footer{
  background-color: #A7BB61;
  padding: 20px 0 20px;
}

.top_footer{
  display: flex;
  gap: 67px;
  align-items: center;
  padding: 0 0 40px;
}

.logo_footer img{
  width: 100%;
  height: 100%;
}




.txt10{
font-weight: 700;
font-size: 18px;
color: #FFFFFF;
padding: 0 0 10px;
}

.ln{
  border-bottom: 2px solid white;
}

.ul2{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-weight: 600;
font-size: 15px;
color: #FFFFFF;
}

.lnk4{
  text-decoration: none;
  font-weight: 600;
font-size: 15px;
color: #FFFFFF;
}


.li2s{
  display: flex;
  align-items: center;
  gap: 12px;
}



.map_block{
max-width: 295px;
height: 212px;
border-radius: 6px;
}

.map_block img{
  width: 100%;
  height: 212px;
  border-radius: 6px;
}

.bottom_footer{
  border-top: 2px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
   padding: 20px 0 0;
}

.txt11{
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
}


.txt12{
font-weight: 400;
font-size: 14px;
text-align: center;
color: #FFFFFF;
}

.app_footer{
  display: flex;
  gap: 16px;
}


.app_f img{
  width: 100%;
  height: 100%;
}

/* catalog */
.banner_catalog{
  border-radius: 6px;
}


.bnr{
  background-image: url(/catalog/banner_c.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;

   display: flex;
  justify-content: center;
  align-items: center;
}


.ellips{
  width: 240px;
height: 240px;
border-radius: 50%;
background-color: #E94200;
display: flex;
justify-content: center;
align-items: center;
}

.txt13{
font-weight: 400;
font-size: 38px;
text-align: center;
color: #FFFFFF;
}



.catalog_grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 320px;
  gap: 28px;
  padding: 20px 0 20px;
  background-color: #FFFFFF;
  overflow: hidden;
}



.ct_img img{
  width: 100%;
  height: 225px;
  object-fit: cover;
  border-radius: 15px;
}


.txt14{
  padding: 21px 0 0;
font-weight: 600;
font-size: 14px;
text-align: center;
color: #4F4F4F;
}

.cokk_block{
  background-color: #FFFFFF;
  padding: 20px 0 20px;
}


.txt15{
  padding: 0 0 24px;
font-weight: 500;
font-size: 24px;
color: #E94200;
}


.galaxy_grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 320px;
  gap: 28px;
}


.pathners_banner img{
  width: 100%;
  height: 730px;
  border-radius: 6px;
  object-fit: cover;
}


.txt_block{
  background-image: url(/patners/bac.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 561px; */
  padding: 30px 0 30px;
  text-align: center;
  background-color: #FFFFFF;
}

.txt16{
font-weight: 600;
font-size: 16px;
line-height: 160%;
color: #423F3E;
}

.why_should_you_choose_us{
  background-color: #F5E4DA;
}

.txt17{
  padding: 0 0 63px;
font-weight: 400;
font-size: 38px;
line-height: 150%;
text-align: center;
color: #E94200;
}

.why_grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows: 164px;
  gap: 24px;
  padding: 0 0 30px;
}

.itm{
  border-radius: 30px;
  border: 2px solid #9b9b9b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itm_bottom{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.txt18{
  margin-top: auto;
font-weight: 600;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #4F4F4F;
}



.production_block{
  background-color: #FFFFFF;
  padding: 20px 0 20px;
}

.txt19{
  padding: 0 0 101px;
font-weight: 400;
font-size: 38px;
text-align: center;
color: #423F3E;
}

.production_grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 150px;
  gap: 28px;
}



.pr_itm img{
  width: 100%;
  height: 150px;
}



/* gp */

.ami_block{
  background-color: #FFFFFF;
  padding: 0 0 25px;
}

.ck_grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
   gap: 28px;
}

.ck img{
  width: 100%;
  height: 100%;
}

.txt20{
  padding: 0 0 63px;
font-weight: 400;
font-size: 38px;
text-align: center;
color: #423F3E;
}
/* gp */


/* blog */
.blog_bnnr{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 400px;

  background-image: url(/blog/blogBanner.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.cokBlock{
background-color: #FFFFFF;
padding: 20px 0 20px;
}


.txt21{
  padding: 0 0 50px;
font-weight: 400;
font-size: 38px;
text-align: center;
color: #000000;
}

.c_gridd{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 319px;
  gap: 28px;
}

.lmg{
  background-color: blueviolet;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 108px;
  padding: 30px;
}


.l_bottom{
  display: flex;
  flex-direction: column;
}

.txt22{
font-weight: 500;
font-size: 14px;
color: #FFFFFF;
padding: 0 0 0;
}


.txt23{
font-weight: 600;
font-size: 18px;
color: #FFFFFF;
padding: 0 0 22px;
}


.next_bloc{
  display: flex;
  align-items: center;
  gap: 6px;
}

.lnk5{
text-decoration: none;
font-weight: 500;
font-size: 14px;
color: #E94200;
}


.v2{
  background-image: url(/blog/mlr.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.v3{
  background-image: url(/blog/v3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.v4{
  background-image: url(/blog/v4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.v5{
  background-image: url(/blog/v5.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.v6{
  background-image: url(/blog/v6.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.vl{
  color: #FFFFFF;
}
/* blog */


/* forKids */
.txt24{
  padding: 0 0 40px;
font-weight: 400;
font-size: 22px;
text-align: center;
color: #828282;
}

.for_bnnr{
  border-radius: 30px;
  background-image: url(/kids/space.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 730px;
  position: relative;
  padding: 20px 0;
}

.sun{
  position: absolute;
  left: 0;
  top: 246px;
}

.mercury{
  position: absolute;
  top: 387px;
  left: 228px;
}

.venus{
  position: absolute;
  top: 134px;
  left: 303px;
}


.earth{
  position: absolute;
  bottom: 102px;
  left: 345px;
}


.moon{
  position: absolute;
  top: 414px;
  left: 480px;
}


.jupiter{
  position: absolute;
  left: 552px;
  top: 52px;
}


.mars{
  position: absolute;
  left: 515px;
  top: 245px;
}

.neptue{
  position: absolute;
  left: 860px;
  top: 96px;
}


.uranus{
  position: absolute;
  left: 789px;
  top: 331px;
}


.saturn{
  position: absolute;
  left: 602px;
  top: 497px;
}


.pluto{
  position: absolute;
  left: 963px;
  top: 268px;
}


.soon_Banner{
  background-color: green;
  border-radius: 8px;
}

.soon_Banner img{
  width: 100%;
  height: 100%;
}

.info_soon{
  /* text-align: center; */
  padding: 30px 0;
  background-color: #FFFFFF;
}

.txt25{
  font-size: 35px;
  font-weight: 700;
  color: black;
}

.txt26{
  content: black;
  font-weight: 500;
  padding: 15px 0 15px;
  font-size: 20px;
}

.ul3{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
}

.inf_s{
  margin-top: 20px;
}

.str_sun{
  max-width: 500px;
  border-radius: 30px;
}

.str_sun img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.txt27{
  padding: 20px 0 0;
  font-size: 20px;
}



.inf_s2{
  margin-top: 20px;
}


.txt28{
  font-size: 20px;
  padding: 8px 0 15px;
}


.inf_s3{
  margin-top: 20px;
}

.inf_iph{
  display: none;
}


.txt29{
  padding: 0 0 100px;
font-weight: 400;
font-size: 38px;
text-align: center;
color: #423F3E;
}

.space_grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows: 400px;
  gap: 28px;
}

.space_itm{
  border-radius: 30px;

}


.txt30{
font-weight: 400;
font-size: 16px;
color: #423F3E;
}


.spac_txt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 90px;
}


.space_itm img{
  width: 100%;
}


.space_block{
  background-color: #FFFFFF;
  padding: 20px 0;
}


.mercury_banner{
  display: flex;
  align-items: center;
  gap: 28px;
  background-color: #FFFFFF;
  padding: 20px 0;
}

.mercury_left{
  max-width: 624px;
  height: 865px;
}


.mercury_left img{
  width: 100%;
  height: 100%;
}

.txt31{
  padding: 0 0 52px;
font-weight: 400;
font-size: 38px;
color: #CA520A;
}


.venus_block{
  display: flex;
  gap: 35px;
  background-color: #FFFFFF;
}

.txt33{
  padding: 0 0 52px;
font-weight: 400;
font-size: 38px;
color: #CA520A;
}

.txt34{
  padding: 0 0 20px;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #423F3E;
}

.venus_right{
  max-width: 836px;
  height: 872px;
}


.venus_right img{
  width: 100%;
  height: 100%;
}


.txt35{
  padding: 0 0 20px;
font-weight: 400;
font-size: 16px;
color: #423F3E;
}

.venos_txt{
  padding: 20px 0;
  background-color: #FFFFFF;
}

.mars_banner{
  display: flex;
  gap: 21px;
  background-color: #FFFFFF;
}

.mars_left{
  max-width: 600px;
  height: 818px;
}


.mars_left img{
  width: 100%;
  height: 100%;
}


.txt36{
  padding: 0 0 47px;
font-weight: 400;
font-size: 38px;
color: #CA520A;
}

.txt37{
  padding: 0 0 20px;
  font-family: Manrope;
font-weight: 400;
font-size: 16px;
color: #423F3E; 
}


.txt38{
  padding: 0 0 20px;
font-weight: 400;
font-size: 16px;
color: #423F3E;
}

.mars_txt{
  background-color: #FFFFFF;
  padding: 20px 0;
}



.txt39{
  padding: 0 0 50px;
font-weight: 400;
font-size: 38px;
text-align: center;
color: #423F3E;
}

.txt40{
font-weight: 400;
font-size: 16px;
text-align: center;
color: #63615F;
padding: 0 0 20px;
}

.planet_giants_block{
  background-color: #FFFFFF;
}

.jupiter_block{
  display: flex;
  gap: 30px;
  background-color: #FFFFFF;
}


.txt41{
  padding: 0 0 50px;
font-weight: 400;
font-size: 38px;
color: #CA520A;
}


.txt42{
  padding: 0 0 20px;
font-weight: 400;
font-size: 16px;
color: #423F3E;
}



.jupiter_rght{
  max-width: 817px;
   height: 863px;
}

.jupiter_rght img{
  width: 100%;
  height: 100%;
}


.saturn_block{
  display: flex;
  gap: 27px;
  background-color: #FFFFFF;
}

.saturn_left{
  width: 615px;
  height: 976px;
}

.saturn_left img{
  max-width: 100%;
  height: 100%;
}


.txt43{
  padding: 0 0 51px;
font-weight: 400;
font-size: 38px;
color: #CA520A;
}

.txt44{
  padding: 0 0 20px;
font-weight: 400;
font-size: 16px;
color: #423F3E;
}

.uranus_block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
}


.uranus_right{
  max-width: 925px;
}

.uranus_right img{
  width: 100%;
  height: 100%;
}


.txt45{
  padding: 0 0 52px;
font-weight: 400;
font-size: 38px;
color: #CA520A;
}

.txt46{
  padding: 0 0 20px;
font-weight: 400;
font-size: 16px;
color: #423F3E;
}


.neptune_block{
  display: flex;
  gap: 23px;
  background-color: #FFFFFF;
}

.neptune_left{
  max-width: 500px;
}

.neptune_left img{
  width: 100%;
  height: 100%;
}


.txt47{
  padding: 0 0 46px;
font-weight: 400;
font-size: 38px;
color: #CA520A;
}


.txt48{
  padding: 0 0 20px;
font-weight: 400;
font-size: 16px;
color: #423F3E;
}


.pluto_block{
  display: flex;
  gap: 36px;
  background-color: #FFFFFF;
}


.pluto_rigth{
  max-width: 960px;
}

.pluto_rigth img{
  width: 100%;
  height: 100%;
}

.txt49{
  padding: 0 0 52px;
font-weight: 400;
font-size: 38px;
color: #CA520A;
}


.txt50{
  padding: 0 0 20px;
font-weight: 400;
font-size: 16px;
color: #423F3E;
}

.galaxy_block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 25px 0;
  background-color: #FFFFFF;
}

.txt51{
font-weight: 400;
font-size: 38px;
color: #CA520A;
}

.btn4{
width: 254px;
height: 55px;
border-radius: 100px;
border-width: 1px;
border: 1px solid #CA520A;
}

.lnk6{
  text-decoration: none;
font-weight: 500;
font-size: 14px;
color: #CA520A;
}


.txt52{
  padding: 0 0 33px;
font-weight: 400;
font-size: 38px;
text-align: center;
color: #E94200;
}

.top_basket{
  border-bottom: 3px solid #DCDCDC;
  max-width: 100%;
}

.bottom_basket{
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding: 20px 0;
}

.bottom_itm{
  /* background-color: green; */
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}


.bottom_left{
  display: flex;
  align-items: center;
  gap: 100px;
}

.btm_i{
  max-width: 157px;
  height: 132px;
  background-color: silver;
  border-radius: 15px;
}

.btm_i img{
  width: 100%;
  height: 100%;
}

.txt53{
font-weight: 400;
font-size: 14px;
color: #423F3E;
}


.bottom_right{
  display: flex;
  align-items: center;
  gap: 50px;
}

.counter{
  width: 96px;
height: 61px;
border-width: 1px;
border-radius: 6px;
background-color: #423F3E;

display: flex;
align-items: center;
justify-content: center;
gap: 8px;
border: none;
}

.minus{
  cursor: pointer;
font-weight: 400;
font-size: 22px;
color: #AAAAAA;
}

.plus{
  cursor: pointer;
font-weight: 400;
font-size: 22px;
color: #AAAAAA;
}

.nmbr{
font-weight: 600;
font-size: 18px;
color: #868686;
}

.delete{
  cursor: pointer;
  width: 29px;
  height: 29px;
  border: none;
  background: none;
}

.basket_block{
  background-color: #FFFFFF;
  padding: 25px 0;
}


.buyer_block{
  background-color: #F8F8F8;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txt54{
  padding: 0 0 46px;
font-weight: 400;
font-size: 38px;
text-align: center;
  color: #E94200;
}


.inputs_grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 12px;
}


.np{
  border: 1px solid #DCDCDC;
  width: 477px;
height: 45px;
border-radius: 6px;
border-width: 1px;
outline: none;
padding-left: 16px;
}


.btn5{
  border: none;
  width: 254px;
height: 68px;
border-radius: 100px;
background-color: #E94200;
margin-top: 74px;


font-weight: 600;
font-size: 18px;
color: #FFFFFF;
cursor: pointer;
}
/* forKids */

@media(max-width: 1200px){
  .container{
    width: 900px;
    background-color: aqua;
  }

  .header_lft {
    z-index: 50;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 140px;
    padding: 0;
    display: flex;
    position: fixed;
    left: 0;
}

  .app_block {
    gap: 13px;
    display: flex;
}


.bottom_footer {
    gap: 200px;
}

.neptue {
    top: 96px;
    left: 689px;
}


.jupiter {
    top: 52px;
    left: 471px;
}

.venus {
    top: 134px;
    left: 237px;
}



.uranus {
    top: 331px;
    left: 600px;
}

.pluto {
    top: 268px;
    left: 781px;
}

.saturn {
    position: absolute;
    top: 497px;
    left: 500px;
}


.earth {
    bottom: 102px;
    left: 291px;
}


.moon {
    position: absolute;
    top: 414px;
    left: 420px;
}


.mars {
    position: absolute;
    top: 245px;
    left: 430px;
}


.txt30 {
    font-size: 14px;
}

.spac_txt {
    gap: 40px;
}


.np {
    width: 385px;
    height: 45px;
    padding-left: 16px;
}
}

@media(max-width: 992px){
  .container{
    width: 700px;
  }

  .header_lft {
    z-index: 50;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    width: 116px;
    display: flex;
    position: fixed;
    padding: 0 0 0;
    left: 0;
}

 .app_block {
    gap: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lnk{
  font-size: 14px;
}

.txt4s {
    font-size: 13px;
}

.txt4{
font-size: 14px;
}


.txt3 {
    font-size: 20px;
}


.np1 {
    width: 317px;
    height: 45px;
}


.bottom_footer {
    gap: 113px;
}


.txt10 {
    font-size: 15px;
}


.galaxy_grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 320px;
    gap: 28px;
    display: grid;
}

.txt16 {
    font-size: 14px;
}

.txt18 {
    font-size: 13px;
}


.venus {
    top: 40px;
    left: 100px;
}


.jupiter {
    top: 52px;
    left: 240px;
}

.neptue {
    top: 50px;
    left: 500px;
}

.mars {
    position: absolute;
    top: 249px;
    left: 320px;
}

.uranus {
    top: 331px;
    left: 507px;
}


.pluto {
    top: 214px;
    left: 500px;
}

.saturn {
    position: absolute;
    top: 520px;
    left: 500px;
}



.np {
    width: 300px;
    height: 45px;
    padding-left: 16px;
}
}


@media(max-width: 786px){
  .container{
    width: 500px;
  }


  .header_lft {
    display: none;
}

.menu{
  display: flex;
}

.header_list.active{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  position: absolute;
  left: 0; top: 0;

  width: 100%;
  height: 100vh;

 
  z-index: 55;

  background-image: url(/img/spongebob.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.block_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 260px;
    gap: 8px;
    display: grid;
}



.img_left{
  width: 200px;
}



.lmg{
  flex-direction: column;
}

.ingredients_grid{
  gap: 120px;
}


.lmg_left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.company_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    gap: 28px;
}


.np1 {
    width: 216px;
    height: 45px;
}


.about_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 285px;
    gap: 9px;
}



.top_footer {
    gap: 20px;
}


.bottom_footer {
    gap: 50px;
}

.txt12 {
    font-size: 12px;
}

.galaxy_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 320px;
    gap: 28px;
    display: grid;
}

.txt16 {
    font-size: 11px;
}


.why_grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.production_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
}

.c_gridd {
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
}

.venus {
    top: 40px;
    left: 40px;
}


.jupiter {
    top: 52px;
    left: 120px;
}

.neptue {
    top: 50px;
    left: 300px;
}



.mars {
    position: absolute;
    top: 249px;
    left: 199px;
}

.pluto {
    top: 214px;
    left: 330px;
}



.mercury {
    top: 414px;
    left: 187px;
}

.saturn {
    position: absolute;
    top: 550px;
    left: 20px;
}

.earth {
    bottom: 60px;
    left: 200px;
}


.moon {
    top: 550px;
    left: 400px;
}



.uranus {
    top: 331px;
    left: 328px;
}


.mercury_left{
  display: none;
}

.mars_left{
  display: none;
}

.jupiter_rght{
  display: none;
}

.saturn_left{
  display: none;
}

.txt46 {
    font-size: 14px;
}


.neptune_left{
  display: none;
}

.pluto_rigth{
  display: none;
}

.txt51 {
    font-size: 23px;
}

.np {
    width: 238px;
    height: 45px;
    padding-left: 16px;
}
}


@media(max-width: 576px){
  .container{
    width: 100%;
    padding: 0 5px;
  }



.lmg_left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.ingredients_grid {
    gap: 105px;
}


.why_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.txt17 {
    font-size: 29px;
}

.venus_right{
  display: none;
}

.uranus_right{
  display: none;
}


.bottom_left {
    gap: 16px;
}
}

@media(max-width: 375px){
  .container{
    width: 100%;
    padding: 0 5px;
  }

  .block_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 260px;
    gap: 8px;
}

.lmg_left {
    gap: 16px;
    width: 364px;

    padding: 20px 0 20px;
}

.inputs{
  flex-direction: column;
}

.txt6 {
    padding: 0 0 14px;
    font-size: 30px;
}



.about_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 285px;
    gap: 9px;
}

.top_footer {
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.catalog_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 320px;
    gap: 28px;
}

.galaxy_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 320px;
    gap: 28px;
    display: grid;
}

.txt16 {
    font-size: 8px;
}

.why_grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}



.txt19 {
    font-size: 27px;
}

.txt25 {
    font-size: 25px;
}

.sun{
  display: none;
}

.mercury{
  display: none;
}

.jupiter{
  display: none;
}

.mars{
  display: none;
}

.neptue{
  display: none;
}

.uranus{
  display: none;
}


.pluto{
  display: none;
}

.moon{
  display: none;
}


.earth{
  display: none;
}


.saturn{
  display: none;
}

.venus{
  display: none;
}

.inf_iph{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.txt30 {
    font-size: 9px;
}

.space_grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 28px;
}

.venus_right{
  display: none;
}

.txt51 {
    font-size: 18px;
}


.bottom_right {
    gap: 12px;
}

.txt53 {
    font-size: 12px;
}


.counter {
    gap: 8px;
    width: 75px;
    height: 61px;
}

.bottom_itm {
    gap: 10px;
    display: flex;
}

.inputs_grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
}
}


@media(max-width: 414px){
  .container{
    width: 100%;
    padding: 0 5px;
  }

  .block_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 260px;
    gap: 8px;
}

.lmg{
  flex-direction: column;
}

.lmg_left {
    gap: 16px;
    max-width: 401px;
    padding: 20px 0 20px;
}

.inputs{
  flex-direction: column;
}

.about_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 285px;
    gap: 9px;
}


.top_footer{
  flex-direction: column;
}

.catalog_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 320px;
    gap: 28px;
}


.galaxy_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 320px;
    gap: 28px;
    display: grid;
}

.txt16 {
    font-size: 8px;
}


.why_grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}

.txt17 {
    font-size: 23px;
}

.txt19 {
    font-size: 27px;
}

.txt25 {
    font-size: 25px;
}


.sun{
  display: none;
}

.mercury{
  display: none;
}

.jupiter{
  display: none;
}

.mars{
  display: none;
}

.neptue{
  display: none;
}

.uranus{
  display: none;
}


.pluto{
  display: none;
}

.moon{
  display: none;
}


.earth{
  display: none;
}


.saturn{
  display: none;
}

.venus{
  display: none;
}


.inf_iph{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.space_grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 28px;
}

.venus_right{
  display: none;
}

.txt51 {
    font-size: 18px;
}

.inputs_grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
}
}